# Brand
VITE_BRAND_NAME="Leasehold Management"

# Contact
VITE_EMAIL="info@leaseholdmgmt.com"
VITE_PHONE="+966502220000"
VITE_WHATSAPP="+966502220000"

# Social media
VITE_TWITTER_URL="https://x.com/mgmt"
VITE_LINKEDIN_URL="https://www.linkedin.com/mgmt"
VITE_INSTAGRAM_URL="https://www.instagram.com/mgmt"

# Formspree
VITE_FORMSPREE_ID="xojpqzoj"
